<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Customers</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          rel="stylesheet">
    <style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

    </style>
</head>
<body>
<div class="mt-4 pt-2 " align="right">
    <a th:href="@{/logout}" class="btn btn-sm btn-info">Log out</a>
</div>
<div style="overflow-x:auto;">
    <caption>List of customers</caption>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <table border=1 style="border-spacing : 10px" id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Time</th>
                <th>Title</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address line 1</th>
                <th>Address line 2</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Phone Number</th>
                <th>Password</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tr th:each="item : ${allUsers}">
            <td href="#" th:utext="${item.id}">...</td>
            <td href="#" th:utext="${item.registered}">...</td>
            <td href="#" th:utext="${item.title}">...</td>
            <td href="#" th:utext="${item.email}">...</td>
            <td href="#" th:utext="${item.firstName}">...</td>
            <td href="#" th:utext="${item.lastName}">...</td>
            <td href="#" th:utext="${item.addressLine1}">...</td>
            <td href="#" th:utext="${item.addressLine2}">...</td>
            <td href="#" th:utext="${item.city}">...</td>
            <td href="#" th:utext="${item.postcode}">...</td>
            <td href="#" th:utext="${item.phoneNumber}">...</td>
            <td href="#" th:utext="${item.password}">...</td>
            <td>
                <form th:action="'/pages/delete/'+ ${item.id}" method="post"></a>
                    <button onclick="return confirm('Are you sure you want to delete User?')">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>


<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[4];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

</body>
</html>